<html>

<head>
<style>

body{
text-align:center;
font-family:Tahoma,sans-serif;
}

.form{
    marign-top:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: lightgrey;
}

.calosc{
    width:800px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
}

.naglowek{
    font-size:27px;
    padding-bottom: 5px;
    text-align: center;
    width:100%;
}

.wpis{
    vertical-align: top;
}

.nick{
    display: inline-block;
    margin-left:50px;
    font-style:italic;
    vertical-align: middle;
}

.tresc{
    margin-top: 5px;
    display:inline-block;
}

a:visited{
    text-decoration: none;
    color:black;
}

a{
    text-decoration: none;
    color:black;
}

.podpis
{
    margin-top: 10px;
    font-style:italic;
}

    .logowanie{
        position: absolute;
        right:10px;
        top:10px;
        text-align:right;
    }

#id_message{
width:670px;
}

.wpisy{
    border-width: 3px;
    border-color:black;
    border-style:solid;
}

</style>

</head>

<body>
<center>
<div class="calosc">
<div class="naglowek">
    <a href="{% url 'projekt.views.home' %}">Django chat</a href>
</div>

{% block content %}

{% endblock %}
</div>
</center>
</body>

</html>