{% extends "base.html" %}

{% block content %}

<div class="logowanie">
{% if user.is_authenticated %}
Hej, {{ user.username }}!<br>
<a href="{% url 'projekt.views.wyloguj' %}">Wyloguj</a>
{% else %}
<a href="{% url 'projekt.views.logowanie' %}">Zaloguj</a>
{% endif %}
</div>

    {% if user.is_authenticated %}
<form class="form" action="{% url 'projekt.views.wyslij'%}" method="post">{% csrf_token %}
{{ form }}
<input type="submit" value="Wyślij" />
</form>
{% endif %}
<div class="wpisy">
{% for wpis in wpisy %}

<div class="wpis">

<div class="nick">
<b>{{ wpis.user }}</b>&nbsp;({{ wpis.timestamp|date:"d M, H:i"}}):
</div>&nbsp;

<div class="tresc">
{{ wpis.message }}
</div>

</a>
</div>

{% endfor %}
</div>

{% endblock %}