{% extends "base.html" %}

{% block content %}

<div class="logowanie">
<a href="{% url 'projekt.views.rejestracja' %}">Rejestracja</a>
</div>

    {%  if form.errors %}
        <p class="error">Przykro mi, podales zle haslo lub login </p>
    {% endif %}
    <div class="tytul">Logowanie</div>
    <form style="margin-top: 10px;" action="{%  url 'projekt.views.l_auth' %}" method="post">{% csrf_token %}
        <label for="username">Login: </label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Haslo: </label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="Zaloguj" />

    </form>

{% endblock %}