{%  extends "base.html" %}

{% block content %}

<div class="tytul">Rejestracja</div>
    {%  if wiad %}
        <p style="color:#ff3f3e" >{{ wiad }} </p>
    {% endif %}
    <form action="{% url 'projekt.views.rejestracja' %}" method="post">{% csrf_token %}
        <table>
    {{ form.as_table }}
        </table>
    <input type="submit" value="Zarejestruj" />
    </form>

{% endblock %}